extends layout

block content
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-body
                        | This is okb1100's file uploader for 
                        a(href='http://thedevchannel.com/') The DevChannel's
                        |  biweekly challenge #2
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-body
                            form(enctype='multipart/form-data')
                                input(id='file' type="file" name='fileToUpload')
                                button(id='upload') Upload
    script(src="js/main.js")