doctype html
html(ng-app="biWeeklyUploader" ng-controller="mainController")
  head
    title= "File Uploader"
    link(rel='stylesheet', href='/css/style.css')
    

    //cdn
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    
  body

    block content
