a {
  color: inherit;
}

.progress{
    display: none;
}
#file{
    display: none;
}

.col-centered{
    float: none !important;
    margin: 0 auto;
}

body{
    margin-top: 15px !important;
    overflow: hidden;
}

/* Just for fancy editing with chrome developer tools xd */
*{
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;
}

#status{
  display: none;
}

.thumbnail{
  width: 100%;
  height: 100%;
}

#txtPreview{
  display: none;
}